
body{
  margin: 0;
  padding-top: 50px;
}

.App{
  margin: auto;
  height: 520px;
  width: 520px;
  border: 2px solid red;
}
.grid-container{
  position: absolute;
  display: grid;
  grid-template-columns:  repeat(5 ,0fr);
  grid-template-rows: repeat(5, 0fr);
  gap: 5px;
  text-align: center;
}
.square{
  height: 100px;
  width: 100px;
}

.btn{
  margin-top: auto;
  position: fixed;
  height: 5px;
}
.brd{
  position: fixed;
}